<div class="node superior <%= 'no_need_links_before' unless need_links %>">
  <div class="title"><%= get_link(@content_second, object) %></div>
  <% if object.image_url? %>
    <%= thumbnail_tag object.image_url, :width => '178px', :height => '234px', :crop => true %>
  <% else %>
    <%= image_tag 'dummy.png', :width => '178px', :height => '234px' %>
  <% end %>
  <div class="fio"> <%= object.person.sub(/\s/,"<br/>").html_safe %> </div>
</div>
