<%= content_for :content do %>
  <div class='main_page'>
    <div class='about_department index'>
      <div class='information'>
        <%= render_partial_for_region @content %>
      </div>
      <%= content_tag(:div, render(:partial => 'regions/chief_department'), class: 'chief_department') if @chief_department.present? %>
    </div>
    <%= content_tag(:div, render(:partial => 'regions/actual_info'), class: 'actual_info index') if @actual_info.present? %>
    <ul class='news_list index'>
      <li class='first'>
        <div class='title'>
          <div class='date'>
            <p class='day'>11</p>
            <p class='month'>декабря</p>
          </div>
          <div class='link'>
            <a href='#' title='На кафедре СВЧиКР состоялся семинар «Современные проблемы и направления развития микроволновой техники»'>На кафедре СВЧиКР состоялся семинар «Современные проблемы и направления...</a>
          </div>
        </div>
        <div class='text'>
          <%= image_tag 'stub-1.jpg', size: '100x100', class: :floatr %>
          По программе стратегического развития университета 7 декабря на площадке Центра повышения квалификации «Микроволновая техника» (ауд. 328) на кафедре сверхвысокочастотной и квантовой радиотехники радиотехнического факультета ТУСУРа состоялся семинар «Современные проблемы и направления развития микроволновой техники».
        </div>
      </li>
      <li class='second'>
        <div class='title'>
          <div class='date'>
            <p class='day'>21</p>
            <p class='month'>августа</p>
          </div>
          <div class='link'>
            <a href='#' title='Объявлены победители конкурса «Лауреат премии Томской области в сфере образования, науки, здравоохранения и культуры»'>Объявлены победители конкурса «Лауреат премии Томской области в сфере образования...</a>
          </div>
        </div>
        <div class='text'>
          <%= image_tag 'stub-2.jpg', size: '100x100', class: :floatr %>
          Ежегодно администрация Томской области проводит конкурс на соискание премий Томской области в сфере образования, науки, здравоохранения и культуры.
        </div>
      </li>
      <li class='first'>
        <div class='title'>
          <div class='date'>
            <p class='day'>18</p>
            <p class='month'>мая</p>
          </div>
          <div class='link'><a href='#' title='Лучшие докладчики конференции «Научная сессия ТУСУР — 2012» были награждены премией им. Е. С. Коваленко'>Лучшие докладчики конференции «Научная сессия ТУСУР — 2012» были награждены...</a></div>
        </div>
        <div class='text'>
          <%= image_tag 'stub-3.jpg', size: '100x100', class: :floatr %>
          17 мая на кафедре СВЧиКР под председательством заведующего кафедрой С. Н. Шаранговича состоялось заседание секции «Оптические информационные технологии, нанофотоника и оптоэлектроника» в рамках всероссийской научно-технической конференции студентов, аспирантов и молодых учёных «Научная сессия ТУСУР - 2012» с присуждением премии имени Е. С. Коваленко.
        </div>
      </li>
      <li class='second'>
        <div class='title'>
          <div class='date'>
            <p class='day'>06</p>
            <p class='month'>апреля</p>
          </div>
          <div class='link'><a href='#'>На кафедре СВЧиКР пройдёт экспертный научный семинар</a></div>
        </div>
        <div class='text'>
          <%= image_tag 'stub-4.jpg', size: '100x100', class: :floatr %>
          9 апреля на кафедре СВЧиКР радиотехнического факультета ТУСУРа состоится экспертный научный семинар диссертационного совета Д 212.268.01 по специальности 05.12.07 «Антенны, СВЧ-устройства и их технологии».
        </div>
      </li>
    </div>
  </div>
<% end %>
