<div class="actual_and_calendar">
  <div class="inner">
    <div class="actual">
      <ul class="switcher">
        <% @actual.content['items'].reverse.each do |item| %>
          <li><%= image_tag item.images.first.thumbnail.url, :"data-title" => "<a href='#{item.link}'>#{item.title}</a>", :alt => item.images.first.thumbnail.description, :size => "618x348" %></li>
        <% end if @actual %>
        <li><%= image_tag 'http://storage.esp.tomsk.gov.ru/files/16253/618-348/fire_situation_banner_4.jpg', :'data-title' => "<a href='/ru/likvidatsiya-posledstviy-chrezvychaynogo-proisshestviya-v-tomske'>Ликвидация последствий чрезвычайного происшествия в&nbsp;Томске</a>", :size => "618x348" %></li>
      </ul>
    </div>

    <div class="calendar">
      <div class="calendar_head">
        <%= link_to 'Календарь мероприятий', @calendar_gone.content.collection_link %>
        <%= link_to 'RSS-канал календаря мероприятий', @calendar_gone.content.rss_link, :class => 'rss' %>
      </div>
      <div class="calendar_items">
        <div class="scrollbar"><div class="track"><div class="thumb"><div class="end"></div></div></div></div>
        <div class="viewport">
          <ul class="overview">
            <% if @calendar_current.content.items.any? %>
              <% @calendar_current.content.items.each do |item| %>
                <%= render :partial => 'commons/calendar_item', :locals => { :item => item} %>
              <% end %>
            <% else %>
              <li class="empty">Нет актуальной информации</li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
