<h1>Контакты</h1>

<% if @chief_department.content.building.present? %>
  <dl class='address'>
    <dt>Адрес:</dt>
    <dd>
      <%= @chief_department.content.building.locality %>,
      <%= @chief_department.content.building.address %>,
      <%= @chief_department.content.office %>
    </dd>
  </dl>
<% end %>

<% if @chief_department.content.phones.present? %>
  <div class='phones'>
    <% @chief_department.content.phones.each do |phone| %>
      <dl class='phone'>
        <dt><%= phone.kind_text.mb_chars.capitalize %>:</dt>
        <dd><%= "(#{phone.code}) " if phone.code.present? %><%= phone.number.gsub(/(\d{2})(\d{2})(\d{2})/, '\1-\2-\3') %></dd>
      </dl>
    <% end %>
  </div>
<% end %>

<% if @chief_department.content.emails.present? %>
  <dl class='emails'>
    <dt>E-mail:</dt>
    <dd><%= @chief_department.content.emails.map{ |email| mail_to email.emai }.join(', ').html_safe %></dd>
  </dl>
<% end %>

<% if @chief_department.present? %>
  <div class='chief'>
    <div class='title'>
      <h2><%= @chief_department.content.title.mb_chars.capitalize %></h2>
      <div class='name'><%= link_to @chief_department.part_title, '/ru/o-kafedre/sotrudniki/prosmotr-sotrudnika/-/160' %></div>
      <%= content_tag(:div, @chief_department.content.person_academic_titles, class: :degree) if @chief_department.content.person_academic_titles.present? %>
    </div>
    <div class='photo'>
      <%= photo_tag :url => @chief_department.content.person_photo_url, :title => @chief_department.part_title %>
    </div>
  </div>
<% end %>
