<div class='index person_wrapper'>
  <% content_for :page_title, object.part_title %>

  <div class="person_info">
    <div class="photo">
      <%= photo_tag :url => object.content.person_photo_url, :title => object.content.person_full_name, :size => '200x266' %>
    </div>
    <div class="info">
      <div class="post"><%= object.content.title %></div>
      <%= person_contacts(object.content) %>
      <%= person_full_address(object.content) %>
      <% if object.content.lectures && object.content.lectures.any? %>
        <div class="schedule">
          <%= link_to "Расписание занятий преподавателя", "http://timetable.tusur.ru/searches/teachers?search[teacher]=#{object.content.person_full_name}", :target => '_blank' %>
        </div>
        <div class="lectures">
          <h3>Читает курсы лекций:</h3>
          <ul>
            <% object.content.lectures.each do |lecture| %>
              <li>
                <%= lecture %>
              </li>
            <% end %>
          </ul>
        </div>
      <% end %>
    </div>
  </div>

  <% if object.content.person_bio.present? %>
    <div class="dossier">
      <h3>Биография</h3>
      <%= simple_format object.content.person_bio %>
    </div>
  <% end %>
</div>
