<h1><%= object.part_title %></h1>

<ul class="presentation">
<% object.content.each do |person| %>
  <li>
    <p><%= link_to person.person_full_name, person.link %></p>
    <p><%= person.title %></p>
    <%= person_building_full_address(person) %>
    <%= person_contacts(person) %>
    <%= person_additional_contacts(person) %>
  </li>
<% end %>
</ul>
