<div class='index'>
  <h1><%= object.part_title %></h1>
  <p><%= object.content.title %></p>
  <%= person_full_address(object.content) %>
  <%= person_contacts(object.content) %>
  <%= person_additional_contacts(object.content) %>
</div>
