<p class='floatr'><%= link_to "<span class='icon'>&nbsp;</span>Скачать #{object.kind.mb_chars.downcase}".html_safe, object.file_url, :class => extension(object.file_url) %></p>
<p><strong><%= object.authority %></strong>, <%= object.kind.mb_chars.downcase %><%= " №#{object.number}" if object.number %></p>

<% if object.approved_on? %>
  <p>Утверждён: <%= l object.approved_on.to_date %></p>
  <%= render 'commons/social_links' %>
<% else %>
  <p>Опубликован: <%= l object.published_on.to_date %></p>
  <%= render 'commons/social_links' %>
  <%= render 'commons/disqus' %>
<% end %>
