<div class="right_side" style='overflow: hidden'>
  <% unless object.images.blank? %>
    <div class="entry_image">
      <%= image_tag object.images.first.thumbnail.url, :alt => object.images.first.description, :width => object.images.first.thumbnail.width, :height => object.images.first.thumbnail.height %>
      <div class="description">
        <%= object.images.first.description %>
      </div>
    </div>
  <% end %>
</div>

<% if object.event_entry_properties %>
  <div class="event_properties">
    <% object.event_entry_properties.each do |event| %>
      <div class='event_date'><%= interval_for(event) %></div>
      <div class='event_location'><%= event.location %></div>
    <% end %>
  </div>
<% end %>

<div class="annotation_on_show">
  <%= raw object.annotation %>
</div>

<%= raw object.body %>

<% if object.source.present? %>
  <div class="source">
    Источник: <%= link_to object.source, object.source_link %>
  </div>
<% end %>

<% if !object.images.blank? && object.images.count > 1 %>
  <div class="galleria_wrapper">
    <div id="galleria">
      <% object.images.each do |image| %>
        <%= galleria_link(image) %>
      <% end %>
    </div>
  </div>
<% end %>

<%= render 'commons/social_links' %>
