<div class="event_list">
  <h2><%= object.title %></h2>
  <ul>
    <% object.items.each_with_index do |item, index| %>
      <li <%= 'class=last' if (index+1)%3 == 0 %>>

        <div class="event_properties">
          <% item.event_entry_properties.each do |event| %>
            <div class='event_date'><%= interval_for(event) %></div>
            <div class='event_location'><%= event.location %></div>
          <% end %>
        </div>

        <h5><%= link_to item.title.truncate(90, :separator => ' '), item.link, :title => item.title %></h5>

        <% if item.images.any? && item.images.first  %>
          <% image = item.images.first.thumbnail ? item.images.first.thumbnail : item.images.first %>
          <%= image_tag image.url, :title => image.description, :width => image.width, :height => image.height %>
        <% end %>

        <% if item.annotation %>
          <div class="annotation">
            <p>
              <%= sanitize(item.annotation.html_safe, :tags => []).truncate(200, :separator => ' ').html_safe %>
            </p>
          </div>
        <% end %>

      </li>
    <% end %>
  </ul>

  <% if object.pagination %>
    <% @array = object.items %>
    <% @array = Kaminari.paginate_array(@array, :total_count => object.pagination.total_count).page(object.pagination.current_page).per(object.pagination.per_page) %>

    <%= paginate @array, :outer_window => 3 %>
  <% end %>
</div>
