<h1><%= object.part_title %></h1>

<ul class='gpo_projects'>
  <% object.content.items.each do |item| %>
    <li>
      <%= link_to item.title, item.url, :target => '_blank' %>
      <% if item.goal.present? %>
        <div class="goal">
          <span>Цель проекта:</span>
          <%= item.goal %>
        </div>
      <% end %>
      <div class="managers">
        <span>Руководитель:</span>
        <%= item.managers.map{|a| "#{a.last_name} #{a.first_name} #{a.middle_name}".strip }.join(', ') %>
      </div>
      <div class="participants">
        <span>Участники:</span>
        <%= item.participants.map{|a| "#{a.last_name} #{a.first_name} #{a.middle_name}".strip }.join(', ') %>
      </div>
    </li>
  <% end %>
</ul>
