<% if object.content.items.present? %>
  <ul class='news_list index'>
    <% object.content.items.each do |item| %>
      <li class=<%= cycle('first', 'second') %>>
        <div class='title'>
          <div class='date'>
            <p class='day'><%= parse_entry_date(item)[:day] %></p>
            <p class='month'><%= parse_entry_date(item)[:month] %></p>
          </div>
          <%= truncate_entry_link(item) %>
        </div>
        <div class='text'>
          <% if item.images.present? %>
            <% thumb = item.images.first.thumbnail %>
            <%= image_tag thumb.url, size: "#{thumb.width}x#{thumb.height}", alt: thumb.description, class: :floatr %>
          <% end %>
          <%= item.annotation.html_safe %>
        </div>
      </li>
    <% end %>
  </ul>
<% end %>
