<% if object.content.items.any? %>
  <div class='news_list'>
    <h1><%= object.part_title %></h1>
    <ul>
      <% object.content.items.each do |item| %>
        <li>
          <div class='date'>
            <div class='day'><%= l(Date.parse(item.since), :format => '%d') %></div>
            <div class='month_and_year'>
              <span class='month'><%= l(Date.parse(item.since), :format => '%b')[0..2] %></span>
              <span class='year'><%= l(Date.parse(item.since), :format => '%Y') %></span>
            </div>
          </div>
          <div class='item'>
            <% if item.images.any? && item.images.first  %>
              <% image = item.images.first.thumbnail ? item.images.first.thumbnail : item.images.first %>
              <div class='image'><%= image_tag image.url, :title => image.description, :width => image.width, :height => image.height %></div>
            <% end %>
            <h5><%= link_to item.title, item.link, :title => item.title %></h5>
            <% if item.annotation %>
              <div class='annotation'>
                <%= item.annotation.html_safe %>
              </div>
            <% end %>
          </div>
        </li>
      <% end %>
    </ul>
    <% if object.content.pagination %>
      <% @array = object.content.items %>
      <% @array = Kaminari.paginate_array(@array, :total_count => object.content.pagination.total_count).page(object.content.pagination.current_page).per(object.content.pagination.per_page) %>
      <%= paginate @array, :outer_window => 3 %>
    <% end %>
  </div>
<% end %>
