<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <%= favicon_link_tag %>
  <title><%= strip_tags(@site_name.content.body) %></title>

  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>

  <!--[if lte IE 7]>
  <%= stylesheet_link_tag    "stop_ie/application" %>
  <%= javascript_include_tag "stop_ie/application" %>
  <![endif]-->

  <%= csrf_meta_tags %>
</head>
<body>
  <div class="tinted_box_wrapper">
    <ul class="tinted_box">
      <li class="tusur">
        <a href="http://www.tusur.ru/">ТУСУР</a>
      </li>
      <li class="rtf">
        <a href="http://www.tusur.ru/ru/faculties/rtf/"><span class='uppercase'>Радиотехнический факультет (РТФ)</span></a>
      </li>
      <li class="svchikr">
        <a href="/"><span class='uppercase'>Кафедра</span> СВЧиКР</a>
      </li>
    </ul>
  </div>
</body>
</html>
