<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <%= favicon_link_tag %>
  <title><%= strip_tags(@site_name.content.body) %></title>

  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>

  <!--[if lte IE 7]>
  <%= stylesheet_link_tag    "stop_ie/application" %>
  <%= javascript_include_tag "stop_ie/application" %>
  <![endif]-->

  <%= csrf_meta_tags %>
</head>
<body>
</body>
</html>
