<!DOCTYPE html>
<html lang='ru'>
<head>
  <meta charset='UTF-8'>
  <%= favicon_link_tag %>
  <title><%= raw @page_title %> — <%= strip_tags(@site_name.content.body) %></title>
  <%= stylesheet_link_tag    'application', :media => 'all' %>
  <%= javascript_include_tag 'application' %>
  <!--[if lte IE 7]>
  <%= stylesheet_link_tag    'stop_ie/application' %>
  <%= javascript_include_tag 'stop_ie/application' %>
  <![endif]-->
  <%= csrf_meta_tags %>
</head>
<body>
  <div class='tinted_box_wrapper'>
    <ul class='tinted_box'>
      <li class='tusur'><a href='http://www.tusur.ru/'><%= I18n.t('tinted_box.tusur') %></a></li>
      <li class='rtf'><a href='http://www.tusur.ru/ru/faculties/rtf/'><%= I18n.t('tinted_box.rtf').html_safe %></a></li>
      <li class='svchikr'><a href='/<%= I18n.locale %>/'><%= I18n.t('tinted_box.svchikr').html_safe %></a></li>
    </ul>
  </div>
  <div class='header'>
    <div class='site_name'>
      <h1><a href='/<%= I18n.locale %>/'><%= I18n.t('site_name') %></a></h1>
    </div>
    <div class='language_and_search'>
      <ul class='language'>
        <%= languages_links %>
      </ul>
      <div class='search_form'>
        <form action='/<%= I18n.locale %>/search/'>
          <ul class='inputs'>
            <li>
              <input type='text' name='parts_params[search][q]' value='<%= params[:parts_params].try(:[], 'search').try(:[], 'q') %>' placeholder='<%= I18n.t('placeholder') %>' />
            </li>
          </ul>
        </form>
      </div>
    </div>
  </div>
  <div class='content_wrapper'>
    <%= render "regions/main_#{@main_navigation.type.underscore}", :object => @main_navigation.content if @main_navigation %>
    <%= render "regions/#{@breadcrumbs.type.underscore}", :object => @breadcrumbs.content if @breadcrumbs %>
    <div class='content'>
      <% unless @template =~ /main_page/ %>
        <h1 class='index'><%= content_for?(:page_title) ? yield(:page_title) : @page_title %></h1>
      <% end %>
      <%= yield :content %>
    </div>
  </div>
  <div class='footer_wrapper'>
    <div class='footer'>
      <div class='contacts'>
        <p class='year'><%= (-> { Date.today.year }.call) %></p>
        <p class='name'><a href='http://www.tusur.ru/'><%= I18n.t('footer.tusur') %></a>, <%= I18n.t('footer.svchikr') %></p>
        <p class='small'><%= I18n.t('footer.address') %></p>
        <p class='small'><%= I18n.t('footer.phone') %></p>
      </div>
      <div class='openteam'>
        <a href="mailto:tusur-svchikr@openteam.ru">tusur-svchikr@openteam.ru</a>
      </div>
    </div>
  </div>
</body>
</html>
